---
/** Full-screen theatrical curtain used for the page transition into the gallery. */
---
<div class="curtain" id="curtain" aria-hidden="true">
  <div class="curtain__panel curtain__panel--left"></div>
  <div class="curtain__panel curtain__panel--right"></div>
  <div class="curtain__logo" id="curtainLogo">
    <span class="curtain__script">Gillian Arnold Atlas</span>
  </div>
</div>
